body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

.design-principle {
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Esto centrará las secciones horizontalmente */
  max-width: 800px; /* Puedes ajustar este valor según tus necesidades */
}

.design-principle h2 {
  color: #333;
  margin-top: 0;
}

.design-principle p {
  margin-bottom: 10px;
}

.design-principle .screenshot img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Espacio entre las secciones */
.design-principle + .design-principle {
  margin-top: 20px;
}
